{% extends 'index.html' %}

{% block user_form %}
{% endblock %}

{% block side_bar %}
{% endblock %}

{% block body_content %}

{% if individual_event['image'] %}
    <div class="event-node">
          <div class="ind-content flex">
              <img class="ind-event-img" src="{{ individual_event['image'] }}">
              <div class="ind-event-text grid">
                  <strong class="event-name">{{ individual_event['name'] }}</strong>
                  <p>{{ individual_event['sorting_info'][2]}}</p>
                  {% if individual_event['location'] %}
                    <p class="event-location">{{ individual_event['location'] }}</p>
                  {% endif %}

                  <p class="event-location">{{ individual_event['sorting_info'][0] }}</p> </br>

                  {% if individual_event['posted_time'] != 0 %}
                      <p class="event-location">Posted on {{ individual_event['posted_time'] }}</p> </br>
                  {% endif %}

            </div>

        </div>
            <p class="ind-event-desc">{{ individual_event['desc'] }}</p>

    </div>

{% else %}
  <div class="ind-content">
      <div class="no-img-content">
      <strong class="event-name">{{ individual_event['name'] }} </strong>
      <p>{{ individual_event['sorting_info'][2]}}</p>

      {% if individual_event['location'] %}
        <p class="event-location">{{ individual_event['location'] }}</p>
      {% endif %}

      <p class="event-location">{{ individual_event['sorting_info'][0] }}</p> </br>

      {% if individual_event['posted_time'] != 0 %}
        <p class="event-location">Posted on {{ individual_event['posted_time'] }}</p> </br>
      {% endif %}
      <p class="event-short-desc">{{ individual_event['desc'] }}</p>
      </div>
  </div>


{% endif %}


{% endblock %}
