<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>uniConnect</title>
        <!--CSS file-->
        <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    </head>
    <body>
        <!--top banner -->
        <div class="header flex items-center justify-between fixed">

            <div class="flex flex-row content-end w-full h-full top-0">  <!--logo_container-->
               <!-- <img src="static/UofT.png">  -->
                <img class="basis-[15.6rem] flex-none text-center object-scale-down" src="static/imgs/uniconnect-logo.png" draggable="false">
                <h1 class="basis-2/3 text-3xl flex-grow place-self-end text-[#ffffff] text-[3.25rem] font-light " draggable="false">uni<span class="font-bold"><a>Connect</a></span></h1>
                <a class="basis-1/8 flex-auto object-scale-down self-center "><img class="user-pfp w-12 h-17 object-cover justify-self-center " src="static/imgs/user-img.png" draggable="false" onclick="toggleMenu()"></a>
            <!---->
            </div>

            <div class="user-form bg-blue-50 absolute top-full right-1/100 box-border" id="user-form">
                {% block user_form %}
                <div class="p-6 m-6">


                    <form method="POST" >
                        {{ form.hidden_tag() }}

                        {{ form.college.label }}
                        {{ form.college() }}
                        <br/>
                        {{ form.major.label }}
                        {{ form.major() }}
                        <br/>
                        {{ form.preferred_categories.label }}
                        {{ form.preferred_categories() }}
                        <br/>
                        {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") }}
                    </form>


                </div>
                 {% endblock %}

            </div>


        </div>

        {% block body_content %}
        <div class="tree-container">
            <div class="tree">
                {% for item in  events_list %}
                    {% if item['image'] %}
                        <div class="node">
                           <div class="flex">
                              <img class="event-img" src="{{ item['image'] }}">

                               <div class="event-text  grid">
                                    <strong class="event-name"><a href="{{ url_for('ind_event', title=item['name']) }}">{{ item['name'] }}</a></strong>
                                    <p>{{ item['sorting_info'][2]}}</p>
                                    {% if item['location'] %}
                                        <p class="event-location">{{ item['location'] }}</p>
                                    {% endif %}

                                    <p class="event-location">{{ item['sorting_info'][0] }}</p> </br>

                                   {% if item['posted_time'] != 0 %}
                                        <p class="event-location">Posted on {{ item['posted_time'] }}</p> </br>
                                    {% endif %}

                                   <p class="event-short-desc">{{ item['desc'] }}</p>

                               </div>
                            </div>

                        </div>

                    {% else %}
                        <div class="node">
                            <strong class="event-name"><a href="{{ url_for('ind_event', title=item['name']) }}">{{ item['name'] }} </a></strong>
                            <p>{{ item['sorting_info'][2]}}</p>

                            {% if item['location'] %}
                                <p class="event-location">{{ item['location'] }}</p>
                            {% endif %}

                            <p class="event-location">{{ item['sorting_info'][0] }}</p> </br>

                            {% if item['posted_time'] != 0 %}
                                <p class="event-location">Posted on {{ item['posted_time'] }}</p> </br>
                            {% endif %}
                            <p>{{ item['desc'] }}</p>
                        </div>

                    {% endif %}





                {% endfor %}

            </div>
        </div>
        {% endblock %}

            <!--sidebar-->
            {% block side_bar %}
            <div class="side-bar">

                <!-- menu items -->
                <div class="menu">
                    <div class="item"><a class="sub-btn">Categories</a>
                        <div class="sub-menu">
                            <form method="POST" action="/">
                                <li>Free Food <input type="checkbox" value="Free Food" name="category-checkbox"></li>
                                <li>Social  <input type="checkbox" value="Social" name="category-checkbox"></li>
                                <li>Sports  <input type="checkbox" value="Sports" name="category-checkbox"></li>
                                <li>Academic  <input type="checkbox" value="Academic" name="category-checkbox"></li>
                                <li>Career  <input type="checkbox" value="Career" name="category-checkbox"></li>
                                <li>Financial Help  <input type="checkbox" value="Financial Help" name="category-checkbox"></li>
                                <li>Mental Health  <input type="checkbox" value="Mental Health" name="category-checkbox"></li>
                                <li>Health  <input type="checkbox" value="Health" name="category-checkbox"></li>
                                <li>Outdoor Adventure  <input type="checkbox" value="Outdoor Adventure" name="category-checkbox"></li>

                            </form>

                        </div>

                    </div>
                    <div class="item"><a class="sub-btn">Days of the Week</a>
                        <div class="sub-menu">
                            <form method="POST" action="/">
                                <li>Monday <input type="checkbox" value="Monday" name="week-checkbox"></li>
                                <li>Tuesday  <input type="checkbox" value="Tuesday" name="week-checkbox"></li>
                                <li>Wednesday  <input type="checkbox" value="Wednesday" name="week-checkbox"></li>
                                <li>Thrusday  <input type="checkbox" value="Thrusday" name="week-checkbox"></li>
                                <li>Friday  <input type="checkbox" value="Friday" name="week-checkbox"></li>
                                <li>Saturday  <input type="checkbox" value="Saturday" name="week-checkbox"></li>
                                <li>Sunday  <input type="checkbox" value="Sunday" name="week-checkbox"></li>

                            </form>
                        </div>

                    </div>
                    <div class="item"><a class="sub-btn">Colleges</a>
                        <div class="sub-menu">
                            <form method="POST" action="/">
                                <li>Innis College <input type="checkbox" value="Innis College" name="college-checkbox"></li>
                                <li>New College  <input type="checkbox" value="New College" name="college-checkbox"></li>
                                <li>Trinity College <input type="checkbox" value="Trinity College" name="college-checkbox"></li>
                                <li>University College  <input type="checkbox" value="University College" name="college-checkbox"></li>
                                <li>Victoria College <input type="checkbox" value="Victoria College" name="college-checkbox"></li>
                                <li>Woodsworth College <input type="checkbox" value="Woodsworth College" name="college-checkbox"></li>

                            </form>
                        </div>

                    </div>

                    <form class="">
                        <button type="submit" name="reset" id="resetFilters" >Reset Filters</button>
                    </form>

                </div>

            </div>
            {% endblock %}


        <!-- jquery cdn link -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            // makes the
            let userForm = document.getElementById("user-form");

            function toggleMenu(){
                userForm.classList.toggle("open-form");
            }
        </script>

        <script>
            $(document).ready(function(){
                console.log("jQuery is loaded and script is running!");
            });

            $('input[type="checkbox"]').change(function(){
                console.log("Checkbox clicked!");
            });
        </script>

        <script>
            $(document).ready(function(){

                $.getJSON("static/user_selected_filters.json", function(data){
                    if (data) {
                        $('input[type="checkbox"]').each(function(){
                            let checkboxValue = $(this).val();
                            let checkboxName = $(this).attr("name");

                            if ((checkboxName == "category-checkbox" && data.categories.includes(checkboxValue)) ||
                                (checkboxName == "week-checkbox" && data.days.includes(checkboxValue)) ||
                                (checkboxName == "college-checkbox" && data.colleges.includes(checkboxValue))) {

                                $(this).prop("checked", true);
                            }

                        });
                    }
                });

                // for toggling the sub-menus
                $('.sub-btn').click(function(){
                    $(this).next('.sub-menu').slideToggle();
                    $(this).find('.dropdown').toggleClass('rotate');
                });

                $('input[type="checkbox"]').change(function(){
                    let categories = [];
                    let days = [];
                    let colleges = [];

                    $('input[type="checkbox"]:checked').each(function(){
                        let value = $(this).val();
                        let name = $(this).attr("name");

                        if (name == "category-checkbox") {
                            categories.push(value);
                        } else if (name == "week-checkbox") {
                            days.push(value);
                        } else if (name == "college-checkbox") {
                            colleges.push(value);
                        }

                    });

                    $.ajax({
                        type: "POST",
                        url: "/update-selection",
                        data: JSON.stringify({
                            categories: categories,
                            days: days,
                            colleges: colleges
                        }),
                        contentType: "application/json",
                        success: function(response){
                            console.log("Server Response:", response);
                            location.reload();
                        }
                    });

                });

                $("#resetFilters").click(function(){
                    $('input[type="checkbox"]').prop("checked", false);

                     $.ajax({
                        type: "POST",
                        url: "/reset-filters",
                        contentType: "application/json",
                        success: function(response){
                            console.log(response.message);
                         }


                    });
                });

            });

        </script>



    </body>
</html>
