<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>uniConnect</title>
        <!--CSS file-->
        <link rel="stylesheet" href="static/styles/style.css">
    </head>
    <body>
        <!--top banner -->
        <div class="header">

            <div class="logo_container">
               <!-- <img src="static/UofT.png"> -->
                <h1>uni<span>Connect</span></h1>

            </div>


        </div>

        <!--sidebar-->
        <div class="side-bar">

            <!-- menu items -->
            <div class="menu">
                <div class="item"><a class="sub-btn">Categories</a>
                    <div class="sub-menu">
                        <form method="POST" action="/">
                            <li>Free Food <input type="checkbox" value="1" name="my-checkbox"></li>
                            <li>Social  <input type="checkbox" value="2" name="my-checkbox"></li>
                            <li>Sports  <input type="checkbox" value="3" name="my-checkbox"></li>
                            <li>Academic  <input type="checkbox" value="4" name="my-checkbox"></li>
                            <li>Career  <input type="checkbox" value="5" name="my-checkbox"></li>
                            <li>Financial Help  <input type="checkbox" value="6" name="my-checkbox"></li>
                            <li>Mental Health  <input type="checkbox" value="7" name="my-checkbox"></li>
                            <li>Health  <input type="checkbox" value="8" name="my-checkbox"></li>
                            <li>Outdoor Adventure  <input type="checkbox" value="9" name="my-checkbox"></li>

                        </form>

                    </div>

                </div>
                <div class="item"><a class="sub-btn">Days of the Week</a>
                    <div class="sub-menu">
                        <form method="POST" action="/">
                            <li>Monday <input type="checkbox" value="10" name="my-checkbox"></li>
                            <li>Tuesday  <input type="checkbox" value="11" name="my-checkbox"></li>
                            <li>Wednesday  <input type="checkbox" value="12" name="my-checkbox"></li>
                            <li>Thrusday  <input type="checkbox" value="13" name="my-checkbox"></li>
                            <li>Friday  <input type="checkbox" value="14" name="my-checkbox"></li>
                            <li>Saturday  <input type="checkbox" value="15" name="my-checkbox"></li>
                            <li>Sunday  <input type="checkbox" value="16" name="my-checkbox"></li>

                        </form>
                    </div>

                </div>
                <div class="item"><a class="sub-btn">Colleges</a>
                    <div class="sub-menu">
                        <form method="POST" action="/">
                            <li>Innis <input type="checkbox" value="17" name="my-checkbox"></li>
                            <li>New College  <input type="checkbox" value="18" name="my-checkbox"></li>
                            <li>Trinity  <input type="checkbox" value="19" name="my-checkbox"></li>
                            <li>University College  <input type="checkbox" value="20" name="my-checkbox"></li>
                            <li>Victoria  <input type="checkbox" value="21" name="my-checkbox"></li>
                            <li>Woodsworth  <input type="checkbox" value="22" name="my-checkbox"></li>

                        </form>
                    </div>

                </div>


            </div>

        </div>

        <!-- jquery cdn link -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <script>
            $(document).ready(function(){

                // for toggling the sub-menus
                $('.sub-btn').click(function(){
                    $(this).next('.sub-menu').slideToggle();
                    $(this).find('.dropdown').toggleClass('rotate');
                });

            })

        </script>

    </body>
</html>
