@import "tailwindcss";

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #ffffff;
  --text-primary: #00072d;
  --text-inverse: #00072d;
  --ui-scrollbar-track: #ffffff;
  --ui-scrollbar: #000000;
  --ui-scrollbar-active: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.header {
  width: 100vw;
  height: 4rem;
  background-color: var(--bg-secondary);
  z-index: 1000;
}

.logo_container img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: table-cell;
  vertical-align: top;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
  margin-left: 15.6rem;
}

.logo_container h1 {
  color: var(--text-inverse);
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 3.25rem;
  font-weight: 200;
}

.logo_container h1 span {
  font-weight: 800;
}

.side-bar {
  background: var(--bg-primary);
  opacity: 0.8;
  width: 15.6rem;
  position: fixed;
  top: 4rem;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.tree-container {
    position: absolute;
    bottom: 0;
    right:0;
    top: 4rem;
    width: calc(100vw - 15.6rem);
    opacity: 100;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--ui-scrollbar) var(--ui-scrollbar-track);

}

.tree {

    max-width: 90%;
    min-width: 90%;
    position: absolute;
    left: 5%;

}

.side-bar {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-scrollbar) var(--ui-scrollbar-track);
}

.menu {
  width: 100%;
  margin-top: 0rem;
}

.item .sub-menu {
  background: var(--bg-secondary);
}

.menu .item {
  position: relative;
  cursor: pointer;
}

.menu .item a {
  color: var(--text-inverse);
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0rem 1.9rem;
  line-height: 3.75rem;
}

.sub-menu li {
  list-style-type: none;
  padding: 0.3rem 1.9rem;
  line-height: 3.75rem;
}